#top-banner
  background-image: url("/assets/0087.png")
  width: 100vw
  height: 100vh
  margin-left: -8px
  margin-top: -8px
  padding: 20px
  .me-image
    position: absolute
    bottom: 20px
    width: 40vw
    right: 10vw

.panel
  background: rgba(0,0,0,0.5)
  width: calc(100vw - 140px)
