<div>
  <img src='/assets/0087.png' style='width:100%;'>
</div><p></p>
<div class="panel">
  Hi! I am Bart and I love my 1987 Jeep Wrangler! So, I decided to re-build it completely.
  <br>
  <span class="description">
  I have bought this car in a semi-ok shape about 2 years ago and slowly begun my adventure. Since then, I have acquired a huge amount of parts and
  tools. I also furthered my knowledge in car mechanics and body/frame restoration considerably. I would love to share that adventure with you!
  Follow the evolution of my ILoveMyJeep Project now. Either for the fun of it or to exchange ideas and knowledge about re-building this vintage
historical beauty.
</span> <p></p>
  <div style='width:60%;margin-left:20%;font-size:30px;font-weight:500;color:white'>Available on YouTube now <a
    href='https://www.youtube.com/channel/UCqR4Yzt6lgxAUpoK0SLMLPg' target="new_window"> ILoveMyJeep Channel </a>
  </div>
</div>
<p></p>


<p></p>
<div style='position:relative;width:80%; background-size:contain;margin-left:10%;background-repeat:no-repeat;'>

  <img src='/assets/Banner1.png' style='width:100%;'>


</div>




