<div class="panel">
  <h2>My name is <span style="color:yellow">Bartholomew</span>.</h2><br>
  I am an avid <span style="color:deepskyblue">inventor</span>, <span style="color:darkseagreen">developer</span> and
  <span style="color:lightpink">lover</span> of science and knowledge. <br>
  I also worked years in construction and in psychology; travelled a world for humanitarian purposes...
  I love nature and discovering beauty around the world.
  I built my own electronics and chemical home laboratory throughout 10-15 years of scavenging parts and refurbishing
  older equipment.
  I would love to save the world from injustice towards other humans and animals.
  I would love to build a shelter/refuge, a technological educational center and a place in nature to seek
  relaxation and re-energization of the body and soul :)
  The Jeep project is the culmination of countless hours spent bending metal, learning about metal and material
  properties through literature and hands-on experimentation.
  And also, after learning how to mix mortar and build walls, floors, ceilings and roofs... I wanted to learn to create
  rigid structures that would withstand higher loads and the passage time; hence welding using different technologies.
  I always had the deep need to understand how our daily life enhancing tools work (the car and its engine) and how to
  reuse, repair and maintain them efficiently and effectively.
  I have many projects and love it! I decided to share my dear adventure in the midst of this on this parkour or voyage
  with you. <br>
  <p></p>
  You can visit: <a href="http://bchwalek.com" target="new">bchwalek.com</a> in order to see more of who I am.
</div>
