/* You can add global styles to this file, and also import other style files */

body
  width: 100%
  font-family: Arial
  font-size: 22px
  background-color: #151515
  color: whitesmoke
  width: 100vw
  overflow-x: hidden

.description
  font-size: 16px

.panel
  padding: 10px
  margin-bottom: 20px
  width: calc(100% - 50px)
