<div id="menu" #menuContainer [@toggle]="isOpen ? 'open' : 'closed'">
  <div class="pastille"><a routerLink="home">Home</a></div>
  <div class="pastille"><a routerLink="me">Me</a></div>
  <div class="pastille"><a routerLink="subjects">Project Definition</a></div>
  <div class="pastille"><a routerLink="project">Project</a></div>
  <div class="pastille"><a routerLink="gallery">Gallery</a></div>
  <div class="pastille"><a routerLink="live">Live View</a></div>
  <div class="pastille"><a routerLink="blog">Blog</a></div>
  <div class="pastille"><a href='https://www.youtube.com/channel/UCqR4Yzt6lgxAUpoK0SLMLPg' target="new_window">Youtube /
    Videos</a></div>

  <app-profile></app-profile>
</div>

