<div style='text-align:center; color:white; width:60%; margin-left:20%; margin-top:20px;'>
  Videos include: <br>
  <ul style='text-align:left'>
    <li> Removing rust from body, frame, undercarriage... (grinding, brushing, sanding, sandblasting...)
    <li> Removing soot, degreasing...
    <li> DIY sand shaker.
    <li> DIY Rust treatment solution.
    <li> Epoxy priming.
    <li> DIY Wax based undercoating solution.
    <li> Installing new panels / fenders.
    <li> Metal sheet bending and creating custom fender flares. (Aluminium + Anodizing)
    <li> DIY Parkerizing of restored parts.
    <li> Homemade Powdercoating
    <li> Restoration of valve cover with metal polishing and clear powdercoat.
    <li> Replacing the carburated system with EFI (Tbi)
    <li> Nuts and bolts: steel, SS304/316, 18.8, grades, armorcoat, finishes, corrosion, measurements
    <li> Restoration of skid plate + transmission and engine mounts.
    <li> Spring leaf fix + changing every shock absorber.
    <li> Mods: Dual and cooled oil filter.
    <li> Mods: Crank timing of the I6 AMC 258.
    <li> GMC ECU and/or Custom ECU
    <li> Cabling + Electrical + Alternator replacement with more power
    <li> Frame reinforcing / welding / repairs.
    <li> Complete replacement of all body mounts and custom bushings + body repairs.
    <li> Fiberglass finish + tinting + final coat
    <li> Extra: Your own custom plasma cutting CNC
    <li> Extra: is Waterjet possible?
    <li> and much much more ...

  </ul>
</div>
